/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


:root {
    font-size: 62.5%;
    --text-color: #303030;
    --hue: 194;
    margin: -1;
    --primary-color: hsl(var(--hue), 100%, 63%)
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow:hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
    background-color: var(--primary-color);
}

#app{
    padding: 2rem;
    max-width: 500px;
    margin: 0 auto;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;

}

