:root {
    font-size: 62.5%;
    --text-color: #303030;
    --hue: 194;
    margin: -1;
    --primary-color: hsl(var(--hue), 100%, 63%)
}

#input-search{
    height: 3.2rem;
    border: 1px solid #cccc;
    border-radius:0.4rem 0 0 0.4rem;
    padding: 0 .8rem;
    margin-left: 2rem;

}

.search button{
    border-radius:0 .4rem .4rem 0;
    height: 3.2rem;
    border: none;
    padding: 0 1;
    cursor: pointer;
}

.search button:hover {
    filter: brightness(1.1);
}

table * {
font-size: 1.4rem;
color: var(--text-color);
width: 100%;
padding: 1rem;
text-align: left;

}

table{
    
box-shadow: 0 1rem 2rem -1rem  rgba(0, 0, 0, 0.4 );
}

table th:first-child{
    border-top-left-radius: 0.4rem
}

table th:last-child{
    border-top-right-radius: 0.4rem
}


table th {
   background-color: var(--primary-color);
}

table td {
    padding: 1.5rem;
    text-align: left;
}

td.user img {
    width: 10rem;
    height:  10rem;

    object-fit: cover;
    border-radius: 50%;
}

td.user {
    display: flex;
    align-content: center;
    gap: 1rem;
}

td.user a{
    text-decoration: none;
   
}

td.user a p{
    font-weight: bold;
    margin-bottom: -0.8rem; ;
}

td .remove{
    background: none;
    border: none;
    color: rgb(118, 4, 4);

    cursor: pointer;
}

table tr:nth-child(odd){
    background: #ddd;
}

table tr:nth-child(even){
    background: #afadad;
}



